<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bus.dao.RouteStationDao">
    <select id="getStations" resultType="java.lang.String">
        SELECT
            sname
        FROM
            t_route_station
        GROUP BY
	        sname
    </select>
    <select id="getRoutes" resultType="java.lang.String">
        SELECT
            rid
        FROM
            t_route_station
        GROUP BY
	        rid
    </select>
    <select id="getRouteAllStation" parameterType="java.lang.String" resultType="java.lang.String">
        SELECT
            sname
        FROM
	        t_route_station
        WHERE
            rid = #{id,jdbcType=VARCHAR}
    </select>
    <select id="getStationAllRoute" parameterType="java.lang.String" resultType="java.lang.String">
        SELECT
            rid
        FROM
	        t_route_station
        WHERE
            sname = #{id,jdbcType=VARCHAR}
    </select>
    <select id="getStationAllRouteMsg" parameterType="java.lang.String" resultType="com.bus.pojo.Route">
        SELECT
	        *
        FROM
	        t_routes as b,
	        (SELECT
	            rid
            FROM
	            t_route_station
            WHERE
	            sname = #{name, jdbcType=VARCHAR}) as a
        WHERE
	        b.rid = a.rid
    </select>
    <select id="getSEStations" resultType="java.lang.String">
        SELECT
            sname
        FROM
            t_route_station
        WHERE
            rsid &gt;= ( SELECT rsid FROM t_route_station WHERE sname = #{sta} AND rid = #{rid} ) + 0
            AND rsid &lt;= ( SELECT rsid FROM t_route_station WHERE sname = #{end} AND rid = #{rid} ) + 0
            AND rid = #{rid}
    </select>
    <select id="getSEStationsTran" resultType="java.lang.String">
        SELECT
            sname
        FROM
            t_route_station
        WHERE
            rsid &gt;= ( SELECT rsid FROM t_route_station WHERE sname = #{sta} AND rid = #{rid} ) + 0
            AND rsid &lt;= ( SELECT rsid FROM t_route_station WHERE sname = #{tran} AND rid = #{rid} ) + 0 AND rid = #{rid}
            UNION
            SELECT sname FROM t_route_station WHERE rsid &gt;= ( SELECT rsid FROM t_route_station WHERE sname = #{tran} AND rid = #{ridTran} ) + 0
            AND rsid &lt;= ( SELECT rsid FROM t_route_station WHERE sname = #{end} AND rid = #{ridTran} ) + 0
            AND rid = #{ridTran}
    </select>
    <select id="getXStations" resultType="com.bus.pojo.RouteStation">
        SELECT
	        *
        FROM
	        t_route_station
        WHERE
	        sname LIKE concat('%',#{name},'%') or rid = #{name}
    </select>
</mapper>