<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.user.dao.FeedbackDao">
    <insert id="insert" parameterType="com.user.pojo.Feedback">
      insert into t_feedback (userid,content,atime)
      select #{userid,jdbcType=CHAR},#{content,jdbcType=VARCHAR},NOW()
      where exists (select loginName from t_users where loginName = #{userid,jdbcType=VARCHAR} and is_use != 0)
    </insert>
</mapper>