<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.user.dao.LostDao">
    <insert id="insert" parameterType="com.user.pojo.Lost">
      insert into t_lostInf (losttime,title,content,style,contactNum,contactId,is_use,mtime,atime)
      select #{losttime,jdbcType=VARCHAR},#{title,jdbcType=VARCHAR},#{content,jdbcType=VARCHAR},
      #{style,jdbcType=VARCHAR},#{contactNum,jdbcType=VARCHAR},
      #{contactId,jdbcType=CHAR},1,
      NOW(),NOW()
        where exists (select loginName from t_users where loginName = #{contactId,jdbcType=VARCHAR} and is_use != 0)
    </insert>
    <update id="delete" parameterType="java.lang.Integer">
        update t_lostInf
        <set>
            is_use = 0,
            mtime = now()
        </set>
        where lostid = #{id,jdbcType=INTEGER} and is_use != 0
    </update>
    <select id="selectAll" resultType="com.user.pojo.vo.LostVo">
        select * from  t_lostInf where is_use != 0
    </select>
</mapper>