<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.user.dao.UserDao">
    <resultMap id="userMap" type="com.user.pojo.User">
        <id property="loginName" column="loginName"></id>
        <result property="userName" column="userName"></result>
        <result property="phone" column="phone"></result>
    </resultMap>
    <insert id="insert" parameterType="com.user.pojo.User">
      insert into t_users (loginName,password,userName,phone,is_use,mtime,atime)
      values (#{loginName,jdbcType=VARCHAR},
      #{password,jdbcType=VARCHAR},#{userName,jdbcType=VARCHAR},
      #{phone,jdbcType=CHAR},1,
      NOW(),NOW())
    </insert>
    <update id="delete" parameterType="com.user.pojo.User">
        update t_users
        <set>
            is_use = 0,
            mtime = now()
        </set>
        where loginName = #{loginName,jdbcType=VARCHAR} and is_use != 0
    </update>
    <update id="update" parameterType="com.user.pojo.User">
        update t_users
        <set>
            userName = #{userName,jdbcType=VARCHAR},
            mtime = now()
        </set>
        where loginName = #{loginName,jdbcType=VARCHAR} and is_use != 0
    </update>
    <select id="selectById" parameterType="java.lang.String" resultType="com.user.pojo.vo.UserVo">
        select * from  t_users
        <where>
            loginName = #{id,jdbcType=VARCHAR}
            and is_use != 0
        </where>
    </select>
</mapper>