<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.user.dao.UserDao">
    <resultMap id="userMap" type="com.user.pojo.User">
        <id property="loginName" column="loginName"></id>
        <result property="userName" column="userName"></result>
        <result property="phone" column="phone"></result>
    </resultMap>
    <insert id="insert" parameterType="com.user.pojo.User">
      insert into t_users (loginName,password,userName,phone,is_use,mtime,atime)
      values (#{loginName,jdbcType=VARCHAR},
      #{password,jdbcType=VARCHAR},#{userName,jdbcType=VARCHAR},
      #{phone,jdbcType=CHAR},#{isUse,jdbcType=INTEGER},
      NOW(),NOW())
    </insert>
    <update id="delete" parameterType="com.user.pojo.User">
        update t_users
        <set>
            <if test="loginName!=null">
                is_use = 0
            </if>
        </set>
        where loginName = #{loginName,jdbcType=VARCHAR}
    </update>
    <update id="update" parameterType="com.user.pojo.User">
        update t_users
        <set>
            <if test="loginName!=null">
                <if test="userName!=null">
                    userName = #{userName,jdbcType=VARCHAR}
                </if>
            </if>
        </set>
        where loginName = #{loginName,jdbcType=VARCHAR}
    </update>
    <select id="selectById" parameterType="com.user.pojo.User" resultType="com.user.pojo.vo.UserVo">
        select * from  t_users
        <where>
            <if test="loginName!=null">
                loginName = #{loginName,jdbcType=VARCHAR}
            </if>
        </where>
    </select>
</mapper>